body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  margin-top: 0px;
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  background-color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  background-color: #66BFBF;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.sol {
  text-decoration: underline;
}

.top_container {
  position: relative;
  padding-top: 100px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.skill-image {
  width: 25%;
  float: right;
  margin-right: 30px;
  margin-left: 30px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
